{% extends 'base.html' %}
{% load static %}
{% block title %} Yangiliklar {% endblock title %}

{% block content %}
<!--================Blog Area =================-->
<section class="blog_area">
    <div class="container">
        <div class="row">
            <div class="blog_left_sidebar">
                <div class="row" style="padding: 10% 0 5% 0;">
                    {% for i in posts %}
                        <div class="col-4">
                            <div class="blog_post">
                                <img src="{{ i.thumb.url }}" alt="" class="img-fluid">
                                <div class="blog_details">
                                    <a href="{% url 'post_detail' i.id %}">
                                        <h2>{{ i.title }}</h2>
                                    </a>
                                    <p>{{ i.info|truncatechars:30 }}</p>
                                    <a href="{% url 'post_detail' i.id %}" class="white_bg_btn">Kopro korish</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
